.card-img > img{
    width: 150px;
    margin: 5px;
}

.service-card:hover .card-img>img{
    transition: transform;
    transition-duration: 800ms;
    transform: scale(1.2);
}

.service-card:hover{
    transition: border-radius;
    transition-duration: 500ms;
    border-radius: 10px;
}

.service-card{
    padding: 20px 20px;
    border: 1px solid rgb(221, 221, 221);
    /* border-radius: 10px; */
    background-color: white;
    height: 250px;
}

.service-card:hover{
    /* border: 1px solid red; */
    box-shadow: 0px 0px 20px 1px rgb(26, 26, 26);
}

.custom-heading{
    color-adjust: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 50px;
}