.book-appointment{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 2px rgb(184, 184, 184);
    border-radius: 5px;
}

.payment{
    background-color: rgb(255, 255, 255);
}

.book-appointment-div{
    /* padding: 2rem 0; */
}