.home-div{
    /* background-color: rgba(0, 0, 0, 0); */
    height: 100%;
    /* width: 100%;  */
    box-sizing: border-box;
}

.home-section{
    box-sizing: border-box;
    height: 100vh;
    /* width: 98vw; */
    background: url("../../assets/background.jpg");
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.services-section{
    /* height: 100vh; */
    /* width: 98vw; */
    background: url("../../assets/aboutuslowq.jpg");
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 10px 10px #fff inset, 0;
    
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}



