.logo-text{
    color: white !important;
    font-size: 40px !important;
    font-weight: 700 !important;
    margin-left: 20px;
}

.link-text{
    color: white !important;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

/* .navbar-section nav{
    background: rgba( 0, 0, 0, 0.50 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.0px );
-webkit-backdrop-filter: blur( 4.0px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

.navbar-section nav{
    background: rgba(0, 0, 0, 0.5);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.0px );
-webkit-backdrop-filter: blur( 4.0px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar-section > nav > div{
    padding-right: 20px;
    justify-content: flex-end;
}
