.contact-us-div{
    background-image: url('../../assets/contact-us3.jpg');
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

