.dashboard-div{
    padding-top: 120px;
    min-height: 100vh;

}

/* .dashboard-section{
    background-image: url('../../assets/dashboardBackground.jpg');
    background-position: center;
    background-size: cover;
} */

.dashboard-content{
    background-color: #fff;
    box-shadow: 1px 1px 10px 2px rgb(207, 207, 207);
    border-radius: 5px;
}

.dashboard-img img{
    width: 100%;
}