.internship-payment-section{
    /* margin-top: 130px; */
    /* min-height: 80vh; */
    box-shadow: 1px 1px 10px 2px rgb(155, 155, 155);
    border-radius: 10px;
}

.internship-payment-div .main-image{
    width: 100%;
}

.internship-right-div{
    background-color: #fff;
    /* border-left: 1px solid rgb(238, 238, 238); */
}