.three-step-form{
    background: rgba( 255, 255, 255, 1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.0px );
-webkit-backdrop-filter: blur( 6.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

/* background: rgba( 0, 0, 0, 0.50 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */

margin-top: 100px;
padding: 20px;
width: 33vw;
}

.form-head{
    
}

@media (max-width :550px){
    .three-step-form{
        width: 95vw;
    }
}
